<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sk.ferinaf.secrethitler">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:isGame="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:fullBackupContent="true"
        tools:ignore="UnusedAttribute">

        <activity android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.Launcher">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AddPlayersActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".activities.MainMenuActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar.Launcher"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".activities.RevealIdentityActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".activities.VotingActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".activities.GameActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".activities.PeekPolicyActivity"
        android:screenOrientation="sensorPortrait"
        tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".activities.InvestigateActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".activities.ExecutionActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".activities.SettingsActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".activities.GameResultsActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>

    </application>

</manifest>